* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
  }

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

main {
    margin-right: 200px;
}

button {
    margin: 10px;

}

input {
    margin: 10px;
}

div {
    margin: 5px;
    font-size: 20px;
}